html {
	margin: 0;
	padding: 0;
	text-align: center;
	}
body { 
	font: 75% georgia, sans-serif;
	line-height: 1.88889;
	color: #555753; 
	
	margin: 0; 
	padding: 0;
	}

p{
	
	font-size: 14px;
	width: 900px;
	margin: 2% auto 0 auto;
}

img{
	width: 500px;
	display: flex;
	border-radius: 50%;
	border: pink solid 10px;
	margin: 3% auto 0 auto;
}

figcaption{

	font-style: italic;
}
